@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900;
}

/* Split.js styles */
.gutter {
  background-color: #374151;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #4B5563;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

/* Monaco editor overrides */
.monaco-editor .margin {
  background-color: #1F2937 !important;
}